@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

html{
    max-width: 100%;
    height: 100%;
}
.body{
    background-color: hsl(0, 0%, 84%);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.card-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1540px;
    max-width: 100%;
}

.top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.top-container * {
    text-align: center;
}

.top-container span {
    font-weight: 300;
    color: hsl(212, 6%, 44%);
}

.top-container h1+h1 {
    margin-bottom: 15px;
    color: hsl(234, 12%, 34%);
}

.top-container p {
    width: 60%;
    color: hsl(234, 12%, 34%);
    font-size: 14px;
}

.bottom-container {
    display: flex;
    gap: 20px;
    max-width: 100%;
}

.bottom-container h2 {
    font-weight: 600;
}

.bottom-container p {
    font-size: 15px;
}

.bottom-container .col1-container,
.bottom-container .col3-container,
.bottom-container .col2-card1-container,
.bottom-container .col2-card2-container {
    position: relative;
    padding: 35px;
    width: 417px;
    align-self: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 10px 20px -10px hsl(0, 0%, 32%);
    overflow: hidden;
}

.bottom-container h2{
    color: hsl(234, 12%, 34%);
}
.bottom-container img{
    margin-left: auto;
}
.bottom-container p{
    color: hsl(212, 6%, 44%);
}

.col1-container::before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 4px;
    content: "";
    background-color: hsl(180, 62%, 55%);
}

.col1-container p {
    margin-bottom: 35px;
    width: 80%;
}

.col2-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100%;
}
.col1-container,
.col3-container,
.col2-container>div{
    max-width: 100%;
}

.col2-card1-container::before{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 4px;
    content: "";
    background-color: hsl(0, 78%, 62%);
}
.col2-card2-container::before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 4px;
    content: "";
    background-color: hsl(34, 97%, 64%);
}

.col2-container p {
    margin-bottom: 35px;
}

.col3-container::before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 4px;
    content: "";
    background-color: hsl(212, 86%, 64%);
}

.col3-container p {
    margin-bottom: 35px;
}

@media screen and (max-width:1000px) {
    .bottom-container{
        flex-direction: column;
    }
}